@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;    
}

body {
    background-color: #2a2a2a;
}
p {
    color: red;
}
.up {
    background-color: #e76a6a;
    width: 100%;
    height: 20%;
    text-align: center;
}
.down {
    background-color: #2a2a2a;
    height: 100%;
    width: 100%;
}

.title {
    color: white;
}

.card {
    background-color: white;
    width: 500px;
    height: 200px;
    border-radius: 2ch;
    text-align: center;
    justify-content: center;
}

.name_product{
    font-weight: bold;
    font-size:x-large;
}

.description_product{
    font-weight: 300;
    font-size: medium;
}